<!DOCTYPE html>
<html>
<head>
	<title>Threads</title>
	<style type="text/css">
		html, * {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		.header {
			color: rgb(18, 18, 128);
			text-align: center;
			line-height: 60px;
		}

		.header h2, p {
			margin: 0;
			padding: 0;
			padding-bottom: 10px;
		}

		.post {
			border: none;
			border-left: 3px solid black;
			margin-left: 5px;
			margin-bottom: 5px;
			padding-left: 3px; 
			border-radius: 3px;
		}

		.formbox {
			padding-left: 5px;
		}

	</style>
</head>
<body>
	<div class="main">
		<div class="header">
			<h2>Threads</h2>
			<p>Chat for free using threads</p>
		</div>

		<div class="posts">
		</div>

		<div class="formbox">
			<form action="/" method="POST">
				<div>
					<input type="text" name="username" placeholder="username" autocomplete="off">
				</div>
				<div>
					<textarea name="content" placeholder="Enter post" rows="3" cols="30"> </textarea>
				</div>
				<input type="submit" name="submit" class="submit">
			</form>
		</div>
	</div>

	<script type="text/javascript">
		const form = document.querySelector("form");
		const submit = document.querySelector(".submit");
		const posts = document.querySelector(".posts");

		if ( window.history.replaceState ) {
		  window.history.replaceState( null, null, window.location.href );
		}

		function toMonthName(monthNumber) {
		  const date = new Date();
		  date.setMonth(monthNumber - 1);

		  return date.toLocaleString('en-US', {
		    month: 'short',
		  });
		}

		{% for post in posts %}
			var dt = `{{post[3]}}`;
			var date = new Date(`${dt}`);
			var datetime = toMonthName(date.getMonth()+1) + " " +  date.getDate() + "," + date.getFullYear() + 
			" " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
			
			var div = document.createElement("div");
			div.className = "post";
			var p1 = document.createElement("p");
			p1.innerHTML = datetime
			var p2 = document.createElement("p");
			p2.innerHTML = `{{post[1]}}`;
			p2.style.weight = "550";
			var p3 = document.createElement("p");
			p3.innerHTML = `{{post[2]}}`
			div.appendChild(p1);
			div.appendChild(p2);
			div.appendChild(p3);
			posts.appendChild(div);

		{% endfor %}
	</script>
</body>
</html>