<!DOCTYPE html>
<html>
	<head>
		<title> Youtube Downloader </title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" href="static/css/style.css">
	</head>
	<body>
		<div class="main">
			<div class="header">
				<img src="static/img/icon.png" width="48" height="48">
				<h2> Youtube Downloader </h2>
			</div>
			<div class="info">
				<p> Convert and download youtube videos in </p>
				<p> MP4, MP3 for free </p>
			</div>
			<div class="dform">
				<form action="http://127.0.0.1:5000/download", method="POST">
					<div class="inputfield">
						<input type="input" name="videourl" placeholder="Search or Paste youtube link here" autocomplete="off">
						<button type="submit"> Download </button>
					</div>
				</form>
			</div>
		</div>
		
		<script>
			const btn = document.querySelector("button");
		</script>
	</body>
</html>