<!DOCTYPE html>
<html>
	<head>
		<title> Youtube Downloader </title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" href="static/css/style.css">
	</head>
	<body>
		<div class="main">
			<div class="header">
					<div>
						<img src="static/img/icon.png" width="48" height="48">
						<h2> Youtube Downloader </h2>
					</div>
					<div>
						<p> Convert and download youtube videos </p>
						<p> in MP4 for free </p>
					</div>
			</div>
			
			{% if not data %}
				<div class="dform">
					<form action="http://127.0.0.1:5000/index", method="POST">
						<div class="inputfield">
							<input type="input" name="videourl" placeholder="Search or Paste youtube link here" autocomplete="off">
							<button type="submit"> Download </button>
						</div>
					</form>
				</div>
			{% else %}
				<div class="videoinfo">
					<img src="" class="thumbnail">
					<h2> {{data[0]}} </h2>
				</div>
				<div class="quality">
					<form class="downloadVideo", method="POST">
						<select id="streams">
							{% for stream in data[2][:3] %} 
								<option value="{{stream.itag}}"> {{stream.resolution}} </option>
							{% endfor %}
						</select>
						<input class="submit" type="submit" name="Submit">
					</form>
				</div>
			{% endif %}
		</div>

			<script type="text/javascript">
				{% if data %}
					let name = `{{data[0]}}`;
					let imgurl = `{{data[1]}}`;
					let link = `{{data[3]}}`;

					const image = document.querySelector(".thumbnail");
					const select = document.querySelector("select");
					const form = document.querySelector(".downloadVideo");

						if (image) {
							image.src = `${imgurl}`;

							window.addEventListener('change', function() {
								var option = select.options[select.selectedIndex].value;
								form.action = `http://127.0.0.1:5000/download?url=${link}&itag=${option}&name=${name}`;
								form.submit();
						});
					}
				{% endif %}
			</script>
	</body>
</html>