<!DOCTYPE html>
<html>
<head>
	<title>Hello World App</title>
	<style type="text/css">
		h1 {
			text-align: center;
			color: red;
			cursor: pointer;
			font-size: 28px;
		}

		h1:hover {
			font-size: 32px;
			transition: 0.5s ease-out;
			transform: rotate(360deg);
		}

		div {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	</style>
</head>
<body>
	<div>
		<h1>Hello {{data}}</h1>
	</div>

	<script type="text/javascript">
		const heading = document.querySelector("h1");
		const colors = ["red", "green", "blue", "pink", "orange", "yellow"];

		// heading.addEventListener('click', updateColor);
		window.onload = function() {
			setInterval(updateColor, 1000);
		}

		function updateColor() {
			let index = Math.floor(Math.random() * colors.length);
			let color = colors[index];
			heading.style.color = color;
		}
	</script>
</body>
</html>