<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title> Quiz App</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	
	<style type="text/css">
		.container {
			width: 80%;
			user-select: none;
		}
		.header {
			background: rgb(60,175,221);
			color: white;
			font-weight: 600;
			line-height: 2;
		}
		.icon {
			width: 32px;
			height: 32px;
		}
		.query {
			height: 450px;
			border: 1px solid black;
			overflow-y: scroll;
		}

		.pic {
			width: 100%;
			height: 420px;
		}

		.btn {
			width: 120px;
		}
	</style>
</head>
<body>
	<div class="container mt-3 p-2">
		<div class="row header p-2">
			<div class="col col-2 text-end">
				<img src="static/icons/{{data['icon']}}" class="icon">
			</div>
			<div class="col col-3 text-start pl-2 category">
				{{data['category']}}
			</div>
			<div class="col col-7 text-end">
				{{data['id']}}/10
			</div>
		</div>
		<div class="row query">
			<div class="col col-5 p-3 image text-center">
				<img src="static/images/{{data['pic']}}.jpg" class="pic">
			</div>
			<div class="col col-7 pt-5">
				<div class="row">
					<h2>{{data['question']}}</h2>	
				</div>
				<div class="row">
					<p>{{data['description']}}</p>	
				</div>
				<div class="row">
					<form action="/quiz" method="POST">
						<label for="price" class="form-label mt-3 guesslabel">Enter Guess Price</label>
						<input type="number" name="price" class="form-control price">
					</form>
				</div>
				<div class="row">
					<div class="btn btn-primary m-3 next">
						Next
					</div>	
				</div>
				<div class="progress">
			    	<div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>
	</div>

	<script type = "text/javascript" >  
		window.history.forward();

		const next = document.querySelector('.next');
		const exit = document.querySelector('.exit');
		const form = document.querySelector('form');
		const progress = document.querySelector('.progress-bar');
		const inputprice = document.querySelector('.price');
		const guesslabel = document.querySelector('.guesslabel');

		let id = `{{data['id']}}`;
		if (id == 10) {
			next.innerHTML = 'Submit';
		}
		progress.setAttribute('aria-valuenow', id*10);
		progress.setAttribute('style', `width: ${id*10}%`);
		next.onclick = function() {
			event.preventDefault();
			if (inputprice.value) {
				const input = document.createElement('input');
				input.type = "hidden";
				input.name = "nextId";
				input.value = `{{data['id'] + 1}}`;
				form.appendChild(input);
				form.submit();
			}
			else {
				guesslabel.setAttribute('style', 'color:red');
			}
		}
	</script>
</body>
</html>