<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col col-12">
				{{data}}
			</div>
		</div>
		<div class="row">
			<div class="col col-6">
			</div>
			<div class="col col-6">
			</div>
		</div>
	</div>

	<script type = "text/javascript" >  
		window.onbeforeunload = function() { 
			return "Your work will be lost."; 
		}
	</script>
</body>
</html>