{% extends "layout.html" %}
    
{% block content %}
    <h1>Course Offerings</h1>

    <!--  Display the Term and Year here --->
    <h3>Term: Spring {{term}}</h3>

    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Credits</th>
                <th scope="col">Term</th>
                <th scope="col">Enroll</th>
            </tr>
            </thead>
            <tbody>

            <!-- Construct the rest of courses here -->
            {% for row in courseData%}
                <tr>
                    <td scope='row'>{{row['courseID']}}</td>
                    <td>{{row['title']}}</td>
                    <td>{{row['description']}}</td>
                    <td>{{row['credits']}}</td>
                    <td>{{row['term']}}</td>
                    <td>
                        <form action="{{url_for('enrollment')}}" method="POST">
                            <input type="hidden" name="courseID" value="{{row['courseID']}}"/>
                            <input type="hidden" name="title" value="{{row['description']}}"/>
                            <input type="hidden" name="term" value="{{row['term']}}"/>
                            <button>Enroll</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
           
            </tbody>
        </table>
    </div>

{% endblock %}