{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            {% for user in users %}
                <dl>
                    <dt>User Id: {{user.user_id}}</dt>
                    <dt>First Name: {{user.first_name}}</dt>
                    <dt>Last Name: {{user.last_name}}</dt>
                    <dt>Email: {{user.email}}</dt>
                </dl>
            {% else %}
                <h3>No user yet!</h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}